{% extends 'base.html' %}

{% block contenido %}

<form class="form-registrar" method="POST">
  {% csrf_token %}
  <h2>Formulario de Registro</h2>
  <input type="hidden" id="respuestaC" value="{{form.ans}}">
  <div>
    <label for="{{form.first_name.id_for_label}}" id="nombre">
      {{ form.first_name.label_tag }}
    </label>
    {{ form.first_name }}
  </div>
  <div>
    <label for="{{form.last_name.id_for_label}}">
      {{ form.last_name.label_tag }}
    </label>
    {{ form.last_name }}
  </div>
  <div>
    <label for="{{form.email.id_for_label}}">
      {{ form.email.label_tag }}
    </label>
    {{ form.email }}
  </div>
  <div>
    <label for="{{form.username.id_for_label}}">
      {{ form.username.label_tag }}
    </label>
    {{ form.username }}
  </div>
  <div>
    <label for="{{form.password1.id_for_label}}">
      {{ form.password1.label_tag }}
    </label>
    {{ form.password1 }}
  </div>
  <div>
    <label for="{{form.password2.id_for_label}}">
      {{ form.password2.label_tag }}
    </label>
    {{ form.password2 }}
  </div>

  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="text-center text-danger">
    Error: {{ error }}
  </div>
  {% endfor %}
  {% endfor %}
  {% endif %}

  <button class="boton" type="submit">Registrarme</button>
  <a href="{% url 'iniciar_sesion' %}">¿Ya tiene cuenta?</a>
</form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $nombre = document.getElementById('nombre');
    $nombre.focus();
  });
</script>

{% endblock %}