<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% block title %}
    Juego de Preguntas y Respuestas - Resistencia
    {% endblock %}
  </title>

  <meta name="description"
    content="Proyecto Python + Django + SQLite3 - Informatorio 2021 - Juego de Preguntas y Respuestas">
  <meta name="author" content="Comisión 6 - Grupo 7 - Trabajo Final (Informatorio 2021)">

  {%load static%}
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Bungee|Sirin+Stencil:400,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/inicio_de_sesion.css' %}">
  <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
  <link rel="stylesheet" href="{% static 'css/sty2.css' %}">
  <link rel="stylesheet" href="{% static 'css/play.css' %}">
</head>

<body>
  {% include 'header.html' %}
  <main>
    <div class="container-fluid grid">
      {% block contenido %}
      {% endblock %}
    </div>
  </main>
  {% include 'footer.html' %}
</body>

</html>