<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenidos - Juego de Preguntas y Respuestas</title>
  <meta name="description"
    content="Proyecto Python + Django + SQLite3 - Informatorio 2021 - Juego de Preguntas y Respuestas">
  <meta name="author" content="Comisión 6 - Grupo 7 - Trabajo Final (Informatorio 2021)">

  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body data-dark></body>

</body>

</html>