{% extends 'base.html' %}

{% block contenido %}

<section class="container">
  <div class="plaza">
    <h2>Plaza central</h2>
  </div>
  <div class="domo">
    <h2>Domo del Centenario</h2>
  </div>
  <div class="escultura">
    <h2>Escultura</h2>
  </div>
  {% if request.user.is_authenticated %}
  <p>usuario: {{request.user.username }}</p>
  {% if request.user.is_staff %}
  <div class="container">
    <a class="jugar" href="/admin/core/quesmodel/add">Agregar Preguntas</a>
    <a class="jugar" href="/admin/users/perfil/">Administrar Usuarios</a>
  </div>
  {% else %}
  <p>puntaje: {{request.user.puntaje }}</p>
  <div class="container">
    <a class="jugar" href="{% url 'jugar' %}">JUGAR</a>
  </div>
  {% endif %}
  {% else %}
  <div class="container">
    <a class="jugar" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
    <a class="jugar" href="{% url 'crear_usuario' %}">Registrarse</a>
  </div>
  {% endif %}

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</section>

{% endblock %}