{% extends 'base.html' %}

{% block contenido %}

<div class="py-5 text-center container">
  {% if request.user.is_authenticated %}
  <p>usuario: {{request.user.username }}</p>
  <p>puntaje: {{request.user.puntaje }}</p>
  <a class="btn btn-primary" href="{% url 'inicio' %}">perfil</a>
  {% if request.user.is_staff %}
  <a class="btn btn-primary" href="/admin/core/quesmodel/add">Agregar Preguntas</a>
  {% else %}
  <a class="btn btn-primary" href="{% url 'jugar' %}">Jugar</a>
  {% endif %}
  <a class="btn btn-primary" href="{% url 'cerrar_sesion' %}">Cerrar sesion</a>
  {% else %}
  <a class="btn btn-primary" href="{% url 'iniciar_sesion' %}">Iniciar sesion</a>
  <a class="btn btn-primary" href="{% url 'crear_usuario' %}">registrarse</a>
  {% endif %}
</div>

{% endblock %}