<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/inicio_de_sesion.css">
    <title>Inicio De Sesión</title>
</head>

<body>
    <form action="php/registro_usuarios_bd.php" method="POST" class="form-registrar">
        <h2>Iniciar Sesión</h2>
        <input type="text"  name="usuario" placeholder="nombre de usuario"  class="form-input">
        <input type="password" name="contrasenia" placeholder="ingrese su contraseña"  class="form-input">
        <input type="submit" value="Iniciar Sesión" class="boton">
        <p><a href="#">¿No tienes una cuenta?</a></p>
    </form>

</body>

</html>