{% extends 'base.html' %}

{% block contenido %}


<div class="reloj">
  <p id="displaytimer" class="numerito">20</p>
</div>
<section class="section-1" id="section-1">
  <div class="text-container">
    <h3>{{form.category}}</h3>
    <p>Pregunta {{numeroPregunta}} de 5</p>
    <p>{{form.question}}</p>
  </div>
  <form class="mt-2 form-signin text-center" method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name="numeroPregunta" value="{{ numeroPregunta }}">
    <input type="hidden" id="opcionMarcada" name="opcionMarcada" value="">
    <input type="hidden" name="op1" value="{{ form.op1 }}">
    <input type="hidden" name="op2" value="{{ form.op2 }}">
    <input type="hidden" name="op3" value="{{ form.op3 }}">
    <input type="hidden" name="ID" value="{{ form.id }}">
    <input type="hidden" name="ids" value="{{ ids }}">
    <input type="hidden" name="score" value="{{ score }}">
    <input type="hidden" name="wrong" value="{{ wrong }}">
    <input type="hidden" name="correct" value="{{ correct }}">
    <input type='hidden' name="timer" id="timer" value="">
    <div class="quiz-options">
      <label class="radio-label jsjwjdwjdwjdwco" for="one-a">
        <input type="radio" class="input-radio one-a jshdgdgwgdwfdfwdwjfdjwwdwdco" id="one-a" name="{{form.op1}}">
        <span class="alphabet">A</span>{{form.op1}}
      </label>
      <label class="radio-label jsjwjdwjdwjdwin" for="one-b">
        <input type="radio" class="input-radio one-b jshdgdgwgdwfdfwdwjfdjwwdwdin" id="one-b" name="{{form.op1}}">
        <span class="alphabet">B</span> {{form.op2}}
      </label>
      <label class="radio-label jsjwjdwjdwjdwin" for="one-c">
        <input type="radio" class="input-radio one-c jshdgdgwgdwfdfwdwjfdjwwdwdin" id="one-c" name="{{form.op1}}">
        <span class="alphabet">C</span>{{form.op3}}
      </label>
    </div>
    <button class="boton" type="submit" id="enviar-respuesta">Enviar</button>
    <a href="{% url 'inicio' %}"> | salir </a>
  </form>
</section>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    function respuesta(e) {
      const $preg1 = document.getElementById("one-a").value,
        $preg2 = document.getElementById("one-b").value,
        $preg3 = document.getElementById("one-c").value,
        $input = document.getElementById("opcionMarcada");

      if ($preg1 !== 'on' && $preg2 !== 'on' && $preg3 !== 'on') {
        document.getElementById('timer').value = 0;
      };

      if ($preg1 === "on") {
        $input.value = "op1";
      }
      else if ($preg2 === "on") {
        $input.value = "op2";
      }
      else {
        $input.value = "op3"; // opción por defecto
      };
    };

    document.getElementById("enviar-respuesta").addEventListener("click", respuesta)

    const $timer = document.getElementById('displaytimer'),
      $inputtag = document.getElementById('timer');
    let t = 20
    let intervalo = setInterval(() => {
      t -= 1
      $timer.textContent = t
      $inputtag.value = t
      if (t == 0) {
        clearInterval(intervalo);
        respuesta();
        document.getElementById("enviar-respuesta").click();
      };
    }, 1000)
  });
</script>
{% endblock %}